<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>EggsSave.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B99049121C17FB0A00DE369D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B990492B1C17FB0B00DE369D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B99049361C17FB0B00DE369D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
