<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>messages</key>
	<array>
		<dict>
			<key>icon</key>
			<string>tou_01</string>
			<key>name</key>
			<string>Diva</string>
			<key>detail</key>
			<string>通过支付宝提现100元</string>
			<key>time</key>
			<string>刚刚</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>tou_02</string>
			<key>name</key>
			<string>号子</string>
			<key>detail</key>
			<string>通过《桃李天下》道具卡成功收徒一名，获得3元</string>
			<key>time</key>
			<string>1分钟前</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>tou_03</string>
			<key>name</key>
			<string>未来只有你</string>
			<key>detail</key>
			<string>使用道具卡完成《航海王》，赚了6元</string>
			<key>time</key>
			<string>2分钟前</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>tou_04</string>
			<key>name</key>
			<string>大柠檬</string>
			<key>detail</key>
			<string>通过支付宝提现600元</string>
			<key>time</key>
			<string>2分钟前</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>tou_05</string>
			<key>name</key>
			<string>大官人</string>
			<key>detail</key>
			<string>通过支付宝提现60元</string>
			<key>time</key>
			<string>3分钟前</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>tou_06</string>
			<key>name</key>
			<string>琳琳</string>
			<key>detail</key>
			<string>通过支付宝提现200元</string>
			<key>time</key>
			<string>4分钟前</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>tou_07</string>
			<key>name</key>
			<string>无心、无情</string>
			<key>detail</key>
			<string>完成《超神吧英雄》，赚了3元</string>
			<key>time</key>
			<string>4分钟前</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>tou_08</string>
			<key>name</key>
			<string>夏天</string>
			<key>detail</key>
			<string>通过微信红包提现10元</string>
			<key>time</key>
			<string>6分钟前</string>
		</dict>
	</array>
</dict>
</plist>
