<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>账号相关问题</key>
	<dict>
		<key>Q：外快宝被退出了，怎么登录？</key>
		<array>
			<string>A：如果你已绑定手机，可以用绑定手机号和密码，登录；如果你没有绑定手机，可以一键注册直接登录原有外快宝账号。账号退出时，系统会提示你绑定手机，请牢记绑定手机号和密码，便于下次登录。</string>
		</array>
		<key>Q：外快宝ID是外快宝账号吗？</key>
		<array>
			<string>A：不是哦，外快宝ID不能用来登录。手机绑定时填写的手机号是外快宝登录账号，完成手机绑定后，可以直接用手机号登录。</string>
		</array>
		<key>Q：忘记密码怎么办？</key>
		<array>
			<string>A：在登录页面点击忘记密码，通过绑定手机号来重置密码。所以，为了账号安全，请进行手机绑定。</string>
		</array>
	</dict>
	<key>新人红包问题</key>
	<dict>
		<key>Q：刚注册的外快宝，为什么没有红包？</key>
		<array>
			<string>A：如果你已绑定手机，可以用绑定手机号和密码，登录；如果你没有绑定手机，可以一键注册直接登录原有外快宝账号。账号退出时，系统会提示你绑定手机，请牢记绑定手机号和密码，便于下次登录。</string>
		</array>
		<key>Q：注册后拿到4元红包怎么提现？</key>
		<array>
			<string>A：不是哦，外快宝ID不能用来登录。手机绑定时填写的手机号是外快宝登录账号，完成手机绑定后，可以直接用手机号登录。</string>
		</array>
		<key>Q：怎么给朋友发红包？</key>
		<array>
			<string>A：在登录页面点击忘记密码，通过绑定手机号来重置密码。所以，为了账号安全，请进行手机绑定。</string>
		</array>
	</dict>
	<key>做任务赚钱问题</key>
	<dict>
		<key>Q：分享赚钱任务怎么做？</key>
		<array>
			<string>A：如果你已绑定手机，可以用绑定手机号和密码，登录；如果你没有绑定手机，可以一键注册直接登录原有外快宝账号。账号退出时，系统会提示你绑定手机，请牢记绑定手机号和密码，便于下次登录。</string>
		</array>
		<key>Q：为什么微信分享失败了？</key>
		<array>
			<string>A：不是哦，外快宝ID不能用来登录。手机绑定时填写的手机号是外快宝登录账号，完成手机绑定后，可以直接用手机号登录。</string>
		</array>
		<key>Q：好友阅读了我的微信分享，我却没有拿到？</key>
		<array>
			<string>A：在登录页面点击忘记密码，通过绑定手机号来重置密码。所以，为了账号安全，请进行手机绑定。</string>
		</array>
		<key>Q：我完成了关注微信任务，没有拿到奖励?</key>
		<array>
			<string>A：如果你已绑定手机，可以用绑定手机号和密码，登录；如果你没有绑定手机，可以一键注册直接登录原有外快宝账号。账号退出时，系统会提示你绑定手机，请牢记绑定手机号和密码，便于下次登录。</string>
		</array>
		<key>Q：做快速赚钱任务，没有得到奖励?</key>
		<array>
			<string>A：不是哦，外快宝ID不能用来登录。手机绑定时填写的手机号是外快宝登录账号，完成手机绑定后，可以直接用手机号登录。</string>
		</array>
		<key>Q：赚钱任务都做完了怎么办?</key>
		<array>
			<string>A：在登录页面点击忘记密码，通过绑定手机号来重置密码。所以，为了账号安全，请进行手机绑定。</string>
		</array>
	</dict>
	<key>师徒体系问题</key>
	<dict>
		<key>Q：怎样收徒弟徒孙？</key>
		<array>
			<string>A：如果你已绑定手机，可以用绑定手机号和密码，登录；如果你没有绑定手机，可以一键注册直接登录原有外快宝账号。账号退出时，系统会提示你绑定手机，请牢记绑定手机号和密码，便于下次登录。</string>
		</array>
		<key>Q：怎么查看自己是否成功收徒？</key>
		<array>
			<string>A：不是哦，外快宝ID不能用来登录。手机绑定时填写的手机号是外快宝登录账号，完成手机绑定后，可以直接用手机号登录。</string>
		</array>
		<key>Q：为什么好友注册了不是我徒弟？</key>
		<array>
			<string>A：在登录页面点击忘记密码，通过绑定手机号来重置密码。所以，为了账号安全，请进行手机绑定。</string>
		</array>
		<key>Q：如何获得师徒奖励提成？</key>
		<array>
			<string>A：在登录页面点击忘记密码，通过绑定手机号来重置密码。所以，为了账号安全，请进行手机绑定。</string>
		</array>
		<key>Q：怎样获得更多徒弟？</key>
		<array>
			<string>A：在登录页面点击忘记密码，通过绑定手机号来重置密码。所以，为了账号安全，请进行手机绑定。</string>
		</array>
	</dict>
	<key>兑换提现问题</key>
	<dict>
		<key>Q：做任务赚的钱可以兑换什么，在哪里兑换？</key>
		<array>
			<string>A：如果你已绑定手机，可以用绑定手机号和密码，登录；如果你没有绑定手机，可以一键注册直接登录原有外快宝账号。账号退出时，系统会提示你绑定手机，请牢记绑定手机号和密码，便于下次登录。</string>
		</array>
		<key>Q：申请了兑换，在哪里看兑换记录？</key>
		<array>
			<string>A：不是哦，外快宝ID不能用来登录。手机绑定时填写的手机号是外快宝登录账号，完成手机绑定后，可以直接用手机号登录。</string>
		</array>
		<key>Q：“登录设备异常兑换被取消”是什么原因？</key>
		<array>
			<string>A：在登录页面点击忘记密码，通过绑定手机号来重置密码。所以，为了账号安全，请进行手机绑定。</string>
		</array>
		<key>Q：为什么我的提现申请显示“已取消”</key>
		<array>
			<string>A：如果你已绑定手机，可以用绑定手机号和密码，登录；如果你没有绑定手机，可以一键注册直接登录原有外快宝账号。账号退出时，系统会提示你绑定手机，请牢记绑定手机号和密码，便于下次登录。</string>
		</array>
		<key>Q：提现申请显示已到账，但支付宝上没找到</key>
		<array>
			<string>A：如果你已绑定手机，可以用绑定手机号和密码，登录；如果你没有绑定手机，可以一键注册直接登录原有外快宝账号。账号退出时，系统会提示你绑定手机，请牢记绑定手机号和密码，便于下次登录。</string>
		</array>
	</dict>
	<key>锁屏问题</key>
	<dict>
		<key>Q：如何关闭锁屏？</key>
		<array>
			<string>A：如果你已绑定手机，可以用绑定手机号和密码，登录；如果你没有绑定手机，可以一键注册直接登录原有外快宝账号。账号退出时，系统会提示你绑定手机，请牢记绑定手机号和密码，便于下次登录。</string>
		</array>
	</dict>
</dict>
</plist>
